{% include 'admin/partials/header.twig' %}

<h1>Settings</h1>

<form class="atk-form" action="#" method="POST">

	<table class="atk-table">
		
		<thead>
			<th>SMTP Options</th>
			<th></th>
		</thead>

		<tbody>
			<tr>
				<td>SMTP Host <span class="required">*</span><span class="under">Enter your SMTP host here</span></td>
				<td><input required type="text" name="smtp-host" placeholder="SMTP Host" value="{{ options.smtp_host }}"></td>
			</tr>
			<tr>
				<td>SMTP Port <span class="required">*</span><span class="under">Enter your SMTP port here</span></td>
				<td><input required type="text" name="smtp-port" placeholder="SMTP Port" value="{{ options.smtp_port }}"></td>
			</tr>
			<tr>
				<td>SMTP Username <span class="required">*</span><span class="under">Enter your SMTP username here</span></td>
				<td><input required type="text" name="smtp-username" placeholder="SMTP Username" value="{{ options.smtp_username }}"></td>
			</tr>
			<tr>
				<td>SMTP Password <span class="required">*</span><span class="under">Enter your SMTP password here</span></td>
				<td><input required type="text" name="smtp-password" placeholder="SMTP Password" value="{{ options.smtp_password  }}"></td>
			</tr>
			<tr>
				<td>Security Type <span class="required">*</span><span class="under">Enter your security type here</span></td>
				<td><input required type="text" name="smtp-security" placeholder="SMTP Security" value="{{ options.smtp_security  }}"></td>
			</tr>
		</tbody>

	</table>

	<table class="atk-table">
		
		<thead>
			<th>License Key</th>
			<th></th>
		</thead>

		<tbody>
			<tr>
				<td>License Status</td>
				<td>{% if options.license_valid == "valid" %}License Valid{% else %}License Invalid{% endif %} </td>
			</tr>
			<tr>
				<td>License Key <span class="required">*</span><span class="under">Enter your license key here</span></td>
				<td><input required type="text" name="license-key" placeholder="License Key" value="{{ options.license_key }}"></td>
			</tr>
		</tbody>

	</table>

	<table class="atk-table">
		
		<thead>
			<th>Analytics</th>
			<th></th>
		</thead>

		<tbody>
			<tr>
				<td>Use old analytics<span class="under">Use ga analytics instead of gtag</span></td>
				<td>
					<label><input required type="radio" name="analytics" value="true" {% if analytics %}checked{% endif %}> True</label>
					<label><input required type="radio" name="analytics" value="false" {% if not analytics %}checked{% endif %}> False</label>
				</td>
			</tr>
		</tbody>

	</table>

	<div class="">
		<input type="submit" class="button button-primary button-large" name="submit" value="Save">
	</div>

</form>

{% include 'admin/partials/footer.twig' %}
