<div class="apcf-control-panel__field apcf-control-panel__sub-field">
	
	<div class="apcf-control-panel__panel">

		<div class="apcf-control-panel__panel-item apcf-control-panel__panel-item--large">
			Text
			<input class="list-item-name" type="text" name="fields[field{{ field.id }}][list][{{ i }}][name]" value="{{ list.name }}">
		</div>

		<div class="apcf-control-panel__panel-item apcf-control-panel__panel-item--large">
			Value
			<input class="list-item-value" type="text" name="fields[field{{ field.id }}][list][{{ i }}][value]" value="{{ list.value }}">
		</div>

		<div class="apcf-control-panel__panel-item">
			<a name="delete-list" class="delete-list-item button button-secondary button-large">Delete</a>
		</div>

	</div>

</div>