    <footer class="p-4 bg-primary-darkest md:p-8 lg:px-0">

      <div class="container lg:flex flex-wrap justify-between items-center text-white text-center lg:text-left">

        <div class="w-full lg:w-1/3 p-4"> 
          <p class="font-bold">Contact Us</p>
          <p><a href="mailto:{{options.site_email}}">{{options.site_email}}</a></p>
          <p>{% do action('ld_default', false, true, true) %}</p>
        </div>

        <div class="w-full lg:w-1/3 p-4 lg:text-center">
          <img class="mx-auto max-w-40" src="{{options.site_logo.url}}" alt="{{site_title}} Logo" />
          // social icons here
        </div>

        <div class="w-full lg:w-1/3 p-4 lg:text-right">
          <p class="font-bold">{{site.name}}</p>
          {{ function('address_stacked') }}
        </div>
        
      </div>

    </footer>

    <!-- Back to top arrow -->
    <p id="back-top"
      class="rounded-xl fixed bottom-4 right-4 z-50 opacity-50 text-center bg-gray-500 hover:bg-gray-600 transition-300 p-2">
      <a class="text-black no-underline text-sm">
        <?php icon('angle-up', 'w-8 h-8'); ?> <span class="block text-lg uppercase">Top</span>
      </a>
    </p>

  </div><!-- wrapper -->

</body>

</html>