{% extends 'base.twig' %}

{% block page_content %}

  {% if parent_regions %}
    <div>
      {% for region in parent_regions %}
        <a class="inline-block w-full lg:w-1/6" href="{{ function('get_term_link', region.term_id) }}">{{region.name}}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% if regions %}
    <div>
      {% for region in regions %}
        <a class="inline-block w-full lg:w-1/6" href="{{ function('get_term_link', region.term_id) }}">{{region.name}}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% if members %}    
    {% for member in members %}
      <div>
          <img class="lazyload" data-src="{{member.meta('logo').sizes.medium}}" alt="{{member.post_title}} Logo" />
          <p>{{member.post_title}}</p>
          <p>{{member.meta('address')}}</p>
          <a href="{{ function('get_permalink', member.ID) }}" class="btn btn-primary">View full details</a>
          <a href="{{member.meta('web_address')}}" target="_blank">View member site</a>
          <a href="mailto:{{member.meta('email_address')}}">Send direct email</a>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}