{% set formname = form_data.name|lower %}
{% set formname = formname|replace({" ": "-"}) %}

<form data-parsley-validate class="adtrakform {{ formname }}" name="{{ formname }}" method="POST" action="#" enctype="multipart/form-data">
	
	{% set setAmount = 0 %}
	{% for fields in field_data %}

		{% set validation_rule = fields.validation|replace({"\\\\": "\\"}) %}

			{% if fields.type == "Fieldset" %}
				
				{% if setAmount == 1 %}
					</fieldset>	
				{% endif %}

				<fieldset {% if fields.classes %}class="{{ fields.classes }}"{% endif %}>
					{% if fields.label %}<legend>{{ fields.label }}</legend>{% endif %}
				
				{% set setAmount = 1 %}

			{% endif %}

			{% if (fields.type != "Fieldset" and fields.type != "Hidden") %}
				<div class="apcf-field">
			{% endif %}

			{% if (fields.type != "Fieldset" and fields.type != "Hidden" and fields.type != "List - Radio" and fields.type != "List - Checkbox" and fields.label != '') %}
				<label for="acpf-{{ fields.name }}">{{ fields.label }} {% if fields.required %}<sup>*</sup>{% endif %}</label>
			{% endif %}
			{% if (fields.type == "List - Radio" or fields.type == "List - Checkbox") %}
				<div class="apcf-field-title">{{ fields.label }} {% if fields.required %}<sup>*</sup>{% endif %}</div>
			{% endif %}

			{% if fields.type == "Text" or fields.type == "Email" or fields.type == "tel" %}

				{% include 'front/partials/inputs/input-text-email-tel.twig' %}

			{% elseif fields.type == "Date" %}
				
				{% include 'front/partials/inputs/input-date.twig' %}

			{% elseif fields.type == "File" %}
				
				{% include 'front/partials/inputs/input-file.twig' %}

			{% elseif fields.type == "Textarea" %}
				
				{% include 'front/partials/inputs/input-textarea.twig' %}

			{% elseif fields.type == "List - Dropdown" %}
				
				{% include 'front/partials/inputs/input-dropdown.twig' %}

			{% elseif fields.type == "List - Radio" %}
				
				{% include 'front/partials/inputs/input-radio.twig' %}

			{% elseif fields.type == "Hidden" %}
				
				{% include 'front/partials/inputs/input-hidden.twig' %}

			{% elseif fields.type == "List - Checkbox" %}
				
				{% include 'front/partials/inputs/input-checkbox.twig' %}

			{% endif %}

		{% if (fields.type != "Fieldset" and fields.type != "Hidden") %}
			</div>
		{% endif %}

	{% endfor %}
	
	{% if setAmount == 1 %}
	</fieldset>
	{% endif %}

	{% include 'front/partials/inputs/input-mailchimp.twig' %}

	{% include 'front/partials/inputs/input-submit.twig' %}

	{% include 'front/partials/form-hidden-fields.twig' %}

</form>